<div class="container">
  <div class="mt-4">
    <button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal"
      (click)="addClick()">
      Nuevo Recibo
    </button>
  </div>

  <table class="table table-striped" *ngIf="listRecibo.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombres</th>
        <th>Monto</th>
        <th>N Recibo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recibo of listRecibo">
        <td>{{ recibo.id }}</td>
        <td>{{ recibo.nombres }}</td>
        <td>{{ recibo.monto }}</td>
        <td>{{ recibo.numeroDocumento }}</td>
        <td>
          <!-- <img *ngIf="recibo.logo" [src]="logosPath+recibo.logo" width="40" height="40"> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generar Recibo</h5>
        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 w-100 bd-highlight">

            <div class="input-group mb-3">
              <span class="input-group-text">Tipo Moneda</span>
              <select type="text" class="form-control" [(ngModel)]="recibo.tipoMoneda">
                <option [ngValue]="1">Sol</option>
                <option [ngValue]="2">Dolar</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Monto</span>
              <input type="number" class="form-control" [(ngModel)]="recibo.monto">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Titulo</span>
              <input type="text" class="form-control" [(ngModel)]="recibo.titulo">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Descripcion</span>
              <input type="text" class="form-control" [(ngModel)]="recibo.descripcion">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Direccion</span>
              <input type="text" class="form-control" [(ngModel)]="recibo.direccion">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Nombres</span>
              <input type="text" class="form-control" [(ngModel)]="recibo.nombres">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Tipo Documento</span>
              <select type="text" class="form-control" [(ngModel)]="recibo.tipoDocumento">
                <option [ngValue]="1">Factura</option>
                <option [ngValue]="2">Boleta</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Numero Documento</span>
              <input type="text" class="form-control" [(ngModel)]="recibo.numeroDocumento">
            </div>
          </div>
          <div class="d-flex flex-column bd-highlight mb-3">
            <input type="file" class="m-2" #fileInput>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4 d-grid"> 
            <button type="button" (click)="generarRecibo()" class="btn btn-primary">Generar recibo</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>